.App {
  margin: 25px 150px;
}

.App-header {
  font-family: 'Yeseva One', cursive;
  /* min-height: 5vh; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 100px;
}
